body{
  margin-left: 20%;
  margin-top: 4%;
  width: 60%;
  font-family: 'Josefin Sans', sans-serif;
}
/* Navigation Bar  */
#navbar{
  background-color: black;
  color:white;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  padding-left: 20%;
}
.nav-link{
  margin-right: 10%;
}
.nav-link:hover{
  color: #6666ff;
  cursor: pointer;
}
/* Logos  */
.logos{
  margin-top: 4%;
  text-align: center;
}
.logos img{
  height: 54px;
  width: 66px;
}
.logos img:hover{
  transform: scale(1.5,1.5);
}
.logos > a:first-child{
  margin-left: 10%;
}
.logos a{
  margin-right: 10%;
}
